h1, h2, h3, p {
    margin: 0;
}
h1, h2 {
    font-family: 'Permanent Marker', cursive;
}
h3, p, a, li {
    font-family: 'Roboto', sans-serif;
}
// Title 4 rem
h1 {
    font-size: 2rem;
    @media screen and (max-width: 900px) {
    font-size: 3rem;
  }
}

h2 {
    font-size: 2.3rem;
}

h3 {
    font-size: 1.2rem;
}

p, li {
    font-size: 1rem;
    line-height: 1.2;
}
li {
    margin-top: 8px;
}

a {
    color: #4b5057;
    &:visited {
        color: #4b5057;
    }
}

ul {
    list-style-type: circle;
}


body {
    color: #4b5057;
    font-size: 62.5%;
}

.para1 {
    margin-top: 16px;
    font-size: 1.2rem;
    line-height: 1.5;
}

.para2 {
    margin-top: 16px;
    font-size: 1.2rem;
}

select {
    margin-top: 32px;
    border: 2px solid #4b5057;
    font-family: 'Roboto', sans-serif;
    height: 44px;
    padding-right: 30px;
}